<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

In [4]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from statsmodels.stats import weightstats as stests
from scipy.stats import shapiro

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The sales manager at an electronics company wants to study if online sales of their products in 2019 follow the same distribution as the online sales of products in 2015. He collected the sample of 300 products sold in 2019. Help the manager to test his claim using p-value technique at a 99% confidence level.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_2.png'>

In [7]:
exp_per = np.array([0.38,0.20,0.42])
exp_value = exp_per * 300

obs_value = [85,90,125]
stats.chisquare(f_obs=obs_value,f_exp=exp_value)
# p-value < 0.01, hence reject null hypothesis

Power_divergenceResult(statistic=22.38512949039265, pvalue=1.3776246111575923e-05)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Use hypothesis testing to check if the type of car is dependent on the type of car's transmission. Plot the acceptance and rejection region to test the hypothesis with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='chi_ind.png'>

In [10]:
stats.chi2_contingency([[104,85,78],[35,61,72]])
# as p_value < 0.05, hence reject null hypothesis
# Relation exists betweeen maintenece and type of transmission

(16.774829953535356,
 0.00022771516717561853,
 2,
 array([[85.31724138, 89.6137931 , 92.06896552],
        [53.68275862, 56.3862069 , 57.93103448]]))

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The researcher recorded ph of 10 samples of sodium hydroxide solution with an average ph of 8.3. He wants the variance of ph to be less than 1.2. Use the critical value method to test whether the variance is less than 1.2 at a 10% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data

         ph = [8.24, 8.41, 8.35, 7.96, 8.48, 8.45, 8.66, 8.15, 7.98, 8.33]

In [17]:
ph = np.array([8.24, 8.41, 8.35, 7.96, 8.48, 8.45, 8.66, 8.15, 7.98, 8.33])
mean = ph.mean()
sigma = 1.2

chi_square = np.sum((ph - mean)**2 / sigma)
print(chi_square)

p_value = stats.chi2.pdf(chi_square,df=len(ph)-1)
print('p-value is',p_value)
# p-value < 0.1, hence reject null hypothesis
# It concludes that variances is less than 1.2

0.37007499999999977
p-value is 9.735855487519307e-05

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A company produces leather belts on three different production lines. The number of defective belts produced by each line is recorded. Test if all the production lines produce on an average equal number of defective belts. Use the p-value technique to test at 5% level of significance.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `defective_prod.xlsx`

In [19]:
data = pd.read_excel('defective_prod.xlsx')
data.head()

  production_line  def_belts
0               A          5
1               C          2
2               B          3
3               A          4
4               C          1

In [23]:
shapiro(data['def_belts'])
# p-value > 0.05, hence data is normally distributed.

ShapiroResult(statistic=0.9259648323059082, pvalue=0.11425024271011353)

In [21]:
data['def_belts'].groupby(data['production_line']).mean()

production_line
A    5.000000
B    4.000000
C    3.285714
Name: def_belts, dtype: float64

In [26]:
a = data[data['production_line'] == 'A']['def_belts']
b = data[data['production_line'] == 'B']['def_belts']
c = data[data['production_line'] == 'C']['def_belts']

stats.levene(a,b,c)
# p-value > 0.05, hence all variances are equal

LeveneResult(statistic=0.8375, pvalue=0.4489726403784061)

In [28]:
stats.f_oneway(a,b,c)
# p-value > 0.05, hence fail to reject null hypothesis
# Hence no relation between them, i.e. produce equal number of defective belts

F_onewayResult(statistic=0.8384615384615386, pvalue=0.44857788134106824)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. The company wants to decide their advertisement strategies for their new smartwatch. The manager collects the advertising cost (in dollars) for four different mediums. Test if the company is spending on average an equal amount on all the advertising mediums using a critical value approach with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `ad_cost.xlsx`

In [30]:
data = pd.read_excel('ad_cost.xlsx')
data.head(2)

     medium  cost
0  Snapmart   252
1   Picbook   378

In [33]:
shapiro(data.cost)
# p-value > 0.05, hence data is normally distributed

ShapiroResult(statistic=0.9700301885604858, pvalue=0.9111207723617554)

In [34]:
data['cost'].groupby(data['medium']).mean()

medium
Funsta      319.000000
Klicker     318.000000
Picbook     360.666667
Snapmart    256.000000
Name: cost, dtype: float64

In [36]:
cost_fu = data[data['medium'] == 'Funsta']['cost']
cost_kl = data[data['medium'] == 'Klicker']['cost']
cost_pi = data[data['medium'] == 'Picbook']['cost']
cost_sn = data[data['medium'] == 'Snapmart']['cost']

stats.levene(cost_fu,cost_kl,cost_pi,cost_sn)
# p-value > 0.05, hence all variances equal

LeveneResult(statistic=0.4517895809451024, pvalue=0.7230913376085835)

In [42]:
stats.f_oneway(cost_fu,cost_kl,cost_pi,cost_sn)
# p-value < 0.01, hence reject null hypothesis
# Hence it concludes that company is spending different amount on all the advertising mediums.

F_onewayResult(statistic=14.880471006443008, pvalue=0.0012301538532321005)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. The output of the previous question shows that the average cost for at least one advertising medium is different. Now find the advertising medium that has a different average with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `ad_cost.xlsx`

In [43]:
# Not covered

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. A company produces leather belts on three different production lines. The number of defective belts produced by each line is recorded. Test if all the production lines produce on an average equal number of defective belts. Use critical value technique to test at a 1% level of significance.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `defective_belts.xlsx`

In [44]:
data = pd.read_excel('defective_belts.xlsx')
data.head()

  production_line  def_belts
0               A          5
1               C          2
2               B          3
3               A          4
4               C          1

In [45]:
shapiro(data['def_belts'])
# p-vale > 0.01, hence data is normally distributed

ShapiroResult(statistic=0.904008686542511, pvalue=0.0418783463537693)

In [48]:
data['def_belts'].groupby(data['production_line']).mean()

production_line
A    5.000000
B    4.428571
C    3.285714
Name: def_belts, dtype: float64

In [50]:
a = data[data['production_line'] == 'A']['def_belts']
b = data[data['production_line'] == 'B']['def_belts']
c = data[data['production_line'] == 'C']['def_belts']

stats.levene(a,b,c)
# p-value > 0.05, hence all variances are equal

LeveneResult(statistic=0.9396551724137933, pvalue=0.40911059075772493)

In [52]:
stats.f_oneway(a,b,c)
# p-value > 0.01, hence fail to reject null hypothesis
# production lines produces equal number of defective belts.

F_onewayResult(statistic=0.64367816091954, pvalue=0.5370295842445841)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The store manager wants to study the sales of a product due to advertising it on different online sites. He collects the sales (in dollars) after advertising on four different sites. Use the p-value technique to decide if there is any difference in sales due to different sites. Use a 5% level of significance.
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `sales.xlsx`

In [54]:
data = pd.read_excel('sales.xlsx')
data.head()

       site  sales
0  Snapmart    252
1   Picbook    398
2    Funsta    212
3   Klicker    227
4   Picbook    381

In [57]:
shapiro(data['sales'])
# p-value < 0.05, hence data is not normally distributed
# Hence use Non-parametric test as Kruskal-Wallis H

ShapiroResult(statistic=0.8479917645454407, pvalue=0.034678466618061066)

In [58]:
data['sales'].groupby(data.site).mean()

site
Funsta      312.333333
Klicker     261.333333
Picbook     380.666667
Snapmart    246.333333
Name: sales, dtype: float64

In [61]:
sales_fu = data[data['site'] == 'Funsta']['sales']
sales_kl = data[data['site'] == 'Klicker']['sales']
sales_pi = data[data['site'] == 'Picbook']['sales']
sales_sn = data[data['site'] == 'Snapmart']['sales']

stats.kruskal(sales_fu,sales_kl,sales_pi,sales_sn)
# p-vale > 0.05, hence reject null hypothesis
# Hence no  difference in sales due to different sites.

KruskalResult(statistic=6.2307692307692335, pvalue=0.10090695162387808)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. A production house wants to know the impact of movie trailers on social media platforms. The rating out of 5 is collected for four different genres posted on three different platforms. Test the effect of social media platform and genre on the ratings using p-value technique. Use a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `2way_movie.xlsx`

In [62]:
data  =pd.read_excel('2way_movie.xlsx')
data.head()

  platform    genre  rating
0   Funsta   Comedy    2.52
1  Picbook   Horror    3.80
2   Funsta  Romance    3.12
3  Klicker   Horror    3.17
4  Picbook   Comedy    3.61

In [ ]:
# Not covered

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. A company produces leather belts on three different production lines. To increase the performance of the three lines two different servicing techniques are used. The data on defective belts is collected. Perform a two-way ANOVA with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the excel file `2way_prod.xlsx`

In [64]:
data = pd.read_excel('2way_prod.xlsx')
data.head()

  production_line servicing_tech  def_belts
0               A        Kerowax         10
1               C       Petromax          9
2               B       Petromax          1
3               C        Kerowax          8
4               A       Petromax         12

In [1]:
# Not covered