<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Large Sample Test](#z)**
2. **[Small Sample Test](#t)**
3. **[Z Proportion Test](#prop)**
4. **[Non-parametric Tests](#non_para)**

**Import the required libraries**

In [3]:
# type your code here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from scipy import stats
import statistics
from scipy.stats import shapiro
from statsmodels.stats import weightstats as stests

### Let's begin with some hands-on practice exercises

<a id = "z"> </a>
## 1. Large Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The computer engineer claims that the average time requires to scan a system is less than 2.3 minutes. A graduate student collects the time taken by 32 systems to test the engineer's claim. Check whether the graduate student can use the Z-test for testing the claim with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    time =  [2.51, 2.1, 2.18, 2.61, 1.9, 1.7, 1.95, 2.1, 1.58, 2.5, 2.19, 1.85, 1.35, 2.4, 2.22, 2.15, 1.82, 1.62, 1.26, 
             2.2, 2.35, 2.5, 2.18, 1.58, 2.24, 1.84, 2.31, 2.24, 1.75, 1.41, 1.57, 2.4]

In [4]:
# type your code here
m = 2.3
n = 32
time =  [2.51, 2.1, 2.18, 2.61, 1.9, 1.7, 1.95, 2.1, 1.58, 2.5, 2.19, 1.85, 1.35, 2.4, 2.22, 2.15, 1.82, 1.62, 1.26,2.2, 2.35, 2.5, 2.18, 1.58, 2.24, 1.84, 2.31, 2.24, 1.75, 1.41, 1.57, 2.4]
stat, p_value = shapiro(time)
print('p-value:',p_value)

p-value: 0.18520332872867584

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The computer engineer claims that the average time requires to scan a system is less than 2.3 minutes. A graduate student collects the time taken by 32 systems to test the engineer's claim. Use the given data and test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    time =  [2.51, 2.1, 2.18, 2.61, 1.9, 1.7, 1.95, 2.1, 1.58, 2.5, 2.19, 1.85, 1.35, 2.4, 2.22, 2.15, 1.82, 1.62, 1.26, 
             2.2, 2.35, 2.5, 2.18, 1.58, 2.24, 1.84, 2.31, 2.24, 1.75, 1.41, 1.57, 2.4]

In [5]:
# type your code here
time =  [2.51, 2.1, 2.18, 2.61, 1.9, 1.7, 1.95, 2.1, 1.58, 2.5, 2.19, 1.85, 1.35, 2.4, 2.22, 2.15, 1.82, 1.62, 1.26, 
         2.2, 2.35, 2.5, 2.18, 1.58, 2.24, 1.84, 2.31, 2.24, 1.75, 1.41, 1.57, 2.4]
z_score, pval = stests.ztest(x1 = time, value = 2.3, alternative = 'smaller')
print("p-value:", pval)

p-value: 8.014324310930383e-06

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The sales manager at a car showroom claims that the cars in the showroom have average mileage per gallon (mpg) more than 18 mpg. Use the given dataset to test the manager's claim using critical value method at 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the dataset given in the CSV file `cars.csv`

In [8]:
# type your code here
df_car = pd.read_csv('cars.csv')
df_car.head()

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,M,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,M,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,M,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,A,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,A,3,2

In [9]:
stat, p_value = stats.shapiro(df_car['mpg'])
print('The P value is : ',p_value)

The P value is :  0.12288373708724976

In [6]:
z_val = np.abs(round(stats.norm.isf(q = 0.1), 2))
print('Critical value for one-tailed Z-test:', z_val)

Critical value for one-tailed Z-test: 1.28

In [10]:
z_score, pval = stests.ztest(x1 = df_car['mpg'], value = 18, alternative = 'larger')
print("Test statistic:", z_score)

Test statistic: 1.962247030028023

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The company MangoFun that produces mango juice claims that the protein content in their juice is more than the juice produced by their competitor company FruitMix. Protein content in 50 boxes of MangoFun juice and 80 boxes of FruitMix juice is collected from a normal population which have an average protein content as 0.4 g and 0.35 g. The two samples have a standard deviation of 0.08 g for MangoFun juice and 0.05 g for FruitMix juice. Test the claim using a critical value method at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# type your code here
z_val = np.abs(round(stats.norm.isf(q = 0.01), 2))
print('Critical value for one-tailed Z-test:', z_val)

Critical value for one-tailed Z-test: 2.33

In [12]:
def TwoSampZTest(samp_mean_1, samp_mean_2, samp_std_1, samp_std_2, value, n1, n2):
    denominator = np.sqrt((samp_std_1**2 / n1) + (samp_std_2**2 / n2))
    zscore = ((samp_mean_1 - samp_mean_2) - (value)) / denominator
    return zscore

sm_1 = 0.4
sm_2 = 0.35
sstd_1 = 0.08
sstd_2 = 0.05
null_val = 0
n_1 = 50
n_2 = 80

zscore = TwoSampZTest(samp_mean_1 = sm_1, samp_mean_2 = sm_2, samp_std_1 = sstd_1, samp_std_2 = sstd_2, value = null_val, 
                      n1 = n_1, n2 = n_2)
print('z-score:', zscore)

z-score: 3.96214425875164

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. The technician wants to test whether the price of a phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Check whether the data satisfies the conditions to use the two sample Z-test. (Use 5% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [13]:
# type your code here
df_elec = pd.read_csv('electronic.csv')
df_elec.head(2)

   Screensize (inch)  Price ($)  Weight (g)     Type
0                6.5        245         252  Phablet
1                6.3        210         252  Phablet

In [14]:
phab_price = df_elec[df_elec['Type'] == 'Phablet']['Price ($)']
tab_price = df_elec[df_elec['Type'] == 'Tablet']['Price ($)']

In [15]:
stat, p_value = shapiro(df_elec['Price ($)'])
print('P-Value:', p_value)
stat, p_value = stats.levene(phab_price, tab_price)
print('P-Value:', p_value)

P-Value: 0.5733178853988647
P-Value: 0.41728596812962016

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [16]:
# type your code here
phab_price = df_elec[df_elec['Type'] == 'Phablet']['Price ($)']
n_1 = len(phab_price)
phab_mean = np.mean(phab_price)
phab_std = statistics.stdev(phab_price)
tab_price = df_elec[df_elec['Type'] == 'Tablet']['Price ($)']
n_2 = len(tab_price)
tab_mean = np.mean(tab_price)
tab_std = statistics.stdev(tab_price)
print('95% of confidence interval:', stats.norm.interval(0.95, loc = phab_mean - tab_mean, 
                                                scale = np.sqrt(((phab_std**2) / n_1) + ((tab_std**2) / n_2))))

95% of confidence interval: (35.78269259462732, 54.93730740537265)

<a id="t"></a>
## 2. Small Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The quality assurance department has collected 15 packets of potato chips. The department wants to test the average weight of the packets. Check whether they can use the one sample t-test for the population mean with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [1]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Use the weight of the potato chips packets given in the previous question and test whether the average weight of packet is more than 30 g. using p-value method. (Use 10% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [17]:
# type your code here
pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = shapiro(pack_wt)

# print the test statistic and corresponding p-value 
print('P-Value:', p_value)

P-Value: 0.5868644714355469

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The orthopaedic surgeon states that a T-score for females older than 30 years is less than -1.2 which indicates the low bone density. To test the claim a sample of 10 women was selected and the average T-score was found to be -1.34 with a standard deviation of 0.8. Test the surgeon's claim using a critical value method with 95% confidence. (Assume the normality of the T-score). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [18]:
# type your code here
pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

# use 'ttest_1samp()' to calculate the test statistic and corresponding p-value for tw0-tailed test
# pass the sample data to the parameter, 'a'
# pass the average value in the null hypothesis to the parameter, 'popmean'
t_stat, p_val = stats.ttest_1samp(a = pack_wt, popmean = 30)

In [19]:
# divide the p-value by 2
req_p_val = p_val/2

# print the test statistic value and corresponding p-value
print('Test Statistic:', t_stat)
print('p-value:', req_p_val)

Test Statistic: -1.1204731591740873
p-value: 0.14068288127820355

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [20]:
# type your code here
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

# time taken by Harry and Ron
time = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5, 19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [21]:
stat, p_value = shapiro(time)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.9969169497489929

In [22]:
stat, p_value = stats.levene(harry, ron)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.7267972480247995

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using a critical value method and p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [23]:
# type your code here
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

# size of first sample
n_1 = len(harry)

# size of second sample
n_2 = len(ron)

# degrees of freedom for 2 sample t-test
print('Degrees of freedom:', n_1 + n_2 - 2)

Degrees of freedom: 12

In [24]:
t_val = np.abs(round(stats.t.isf(q = 0.1, df = 12), 2))

print('Critical value for one-tailed t-test:', t_val)

Critical value for one-tailed t-test: 1.36

In [25]:
t_stat, p_val = stats.ttest_ind(a = harry, b = ron)

In [26]:
# divide the p-value by 2
req_p_val = p_val/2

# print the test statistic value and corresponding p-value
print('Test Statistic:', t_stat)
print('p-value:', req_p_val)

Test Statistic: -2.8788582527177526
p-value: 0.00692997580305821

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>12. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [27]:
# type your code here
df_sugar = pd.read_excel('sugar_level.xlsx')

# print the first two observations
df_sugar.head(2)

   sugar_before  sugar_after
0           135          132
1           132          136

In [28]:
stat, p_value = shapiro(df_sugar['sugar_before'])

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.08004998415708542

In [29]:
stat, p_value = shapiro(df_sugar['sugar_after'])

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.057184845209121704

In [30]:
t_stat, p_val = stats.ttest_rel(df_sugar['sugar_after'], df_sugar['sugar_before'])

# print the p-value 
print("p-value:", p_val)

p-value: 2.108941394582287e-05

<a id= "prop"></a>
## 3. Z Proportion Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. The physics department claims that it received 14% of fraud applications this year. The university head wants to test whether the percentage is different than what the department claims. The sample of 250 applications is selected out of which 38 applications are found to fraud. Test the claim with a 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [31]:
# type your code here
# number of applications in a sample
n = 250

# number of fraud applicants in a sample
x = 38

# sample proportion fraud applicants
p_samp = x/n

# calculate the 95% confidence interval
# pass the sample proportion to the parameter, 'loc'
# pass the scaling factor ((p_samp*(1-p_samp))/n))^0.5) to the parameter, 'scale'
interval = stats.norm.interval(0.95, loc = p_samp, scale = np.sqrt((p_samp*(1-p_samp))/n))

print('95% confidence interval for population proportion is', interval)

95% confidence interval for population proportion is (0.10749612708304186, 0.19650387291695814)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. The store manager claims that he received more 20% of defective plastic boxes in his previous order. Test the manager's claim using a critical value method. From a sample of 120 boxes, 42 were found to be defective. Test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [32]:
# type your code here
z_val = np.abs(round(stats.norm.isf(q = 0.1), 2))

print('Critical value for one-tailed Z-test:', z_val)

# sample size
n = 120

# number of defective boxes in the sample
x = 42

# sample proportion
p_samp = x / n

# hypothesized proportion
hypo_p = 0.2

# calculate test statistic value for 1 sample proportion test
z_prop = (p_samp - hypo_p) / np.sqrt((hypo_p * (1 - hypo_p)) / n)

print('Test statistic:', z_prop)

Critical value for one-tailed Z-test: 1.28
Test statistic: 4.107919181288744

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>15. The HR head of a company claims that the company supports the woman empowerment and the proportion of female employees is same in the New York and Oneonta branches. The women empowerment cell wants to check whether the proportion is different for the two branches. The sample of 150 employees is selected from New York branch out of which 53 are females and a sample of 170 employees is selected from Oneonta branch out of which 76 are females. Use the p-value technique with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [33]:
# type your code here
# number of employees selected from New York branch
NY_emp = 150

# number of employees selected from Oneonta branch
One_emp = 170

# number of female employees in New York branch sample
NY_female = 53

# number of female employees in Oneonta branch sample
One_female = 76

# calculate test statistic value for two sample proportion test
# pass the number of females from both the branches to the parameter, 'count'
# pass the size of both the samples to the parameter, 'nobs'
# pass the two-tailed condition to the parameter, 'alternative'
z_prop, p_val = sm.stats.proportions_ztest(count = np.array([NY_female, One_female]), 
                                             nobs = np.array([NY_emp, One_emp]),  
                                             alternative = 'two-sided')

# print the p-value
print('p-value:', p_val)

p-value: 0.08807228185564836

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. The education department claims that the proportion of students failed in Mathematics is more than the proportion of students failed in English. To test the claim a sample of 200 students enrolled for Mathematics was considered out of which 73 students failed in the exam and a sample of 150 students enrolled for English was considered out of which 53 students failed in the exam. Use the critical value method to test the department's claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [34]:
# type your code here
z_val = np.abs(round(stats.norm.isf(q = 0.1), 2))

print('Critical value for one-tailed Z-test:', z_val)

Critical value for one-tailed Z-test: 1.28

In [35]:
# number of students enrolled for Mathematics
n_math = 200

# number of students enrolled for English
n_eng = 150

# number of students failed in Mathematics
fail_math = 73

# number of students failed in English
fail_eng = 53

# calculate test statistic value for two sample proportion test
# pass the number of students failed in subjects to the parameter, 'count'
# pass the size of both the samples to the parameter, 'nobs'
# pass the one-tailed condition to the parameter, 'alternative'
z_prop, p_val = sm.stats.proportions_ztest(count = np.array([fail_math, fail_eng]), 
                                             nobs = np.array([n_math, n_eng]),  
                                             alternative = 'larger')

# print the test statistic
print('Test statistic:', z_prop)

Test statistic: 0.22502571869471721

<a id= "non_para"></a>
## 4. Non-parametric Tests

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. The car dealer claims that the median horsepower (hp) of the cars in his showroom is greater than 100 watts. Test the dealer's claim with 95% confidence.</b>
                </font> 
            </div>
        </td>
    </tr>
</table>

Use the dataset given in the CSV file `cars.csv`

In [36]:
# type your code here
# read the data 
df_car = pd.read_csv('cars.csv')

# display the first two observations
df_car.head(2)

            name   mpg  cyl   disp   hp  drat     wt   qsec  vs am  gear  carb
0      Mazda RX4  21.0    6  160.0  110   3.9  2.620  16.46   0  M     4     4
1  Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0  M     4     4

In [37]:
# consider the horsepower given in the dataset
hp = df_car['hp']

# hypothesized median
M_0 = 100

# calculate the difference between sample horsepower and M_0
diff = hp - M_0

# perform wilcoxon signed rank test
# pass the differnces to the parameter, 'x'
# pass the one-tailed condition to the parameter, 'alternative'
test_stat, p_value = stats.wilcoxon(x = diff, alternative = 'greater')

# print the p-value
print('p-value:', p_value)

p-value: 0.0004968423513640346

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. The customer claims that the median weight of watermelon is HealthyFood store is different than 2.5 kg. 8 watermelons are selected as a sample and the weight is recorded. Test the customer's claim at 90% confidence using p-value technique. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        watermelon_wt = [1.81, 2.3, 1.8, 2.65, 3.9, 3.7, 1.9, 2.1]

In [38]:
# type your code here
# given weight of watermelons
watermelon_wt = np.array([1.81, 2.3, 1.8, 2.65, 3.9, 3.7, 1.9, 2.1])

# hypothesized median
M_0 = 2.5

# calculate the difference between sample weight and M_0
diff = watermelon_wt - M_0

# perform wilcoxon signed rank test
# pass the differnces to the parameter, 'x'
# pass the two-tailed condition to the parameter, 'alternative'
test_stat, p_value = stats.wilcoxon(x = diff, alternative = 'two-sided')

# print the p-value
print('p-value:', p_value)

p-value: 0.779434528427275

C:\Users\fayiq\anaconda3\lib\site-packages\scipy\stats\morestats.py:2879: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. The gym trainer claims that the new aerobic exercise has reduced the weight of the customers. The weight in the last month before the aerobic exercise and weight in this month after the aerobic exercise is recorded for 6 people. Test the trainer's claim with 95% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        wt_before = [85, 74, 63.5, 69.4, 71.6, 65]
        wt_after = [82, 71, 64, 65.2, 67.8, 64.7]

In [39]:
# type your code here
# given weights
wt_before = [85, 74, 63.5, 69.4, 71.6, 65]
wt_after = [82, 71, 64, 65.2, 67.8, 64.7]

wt = [85, 74, 63.5, 69.4, 71.6, 65, 82, 71, 64, 65.2, 67.8, 64.7]

# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
# pass the weight before and after the exercise to perform the test
stat, p_value = shapiro(wt)

# print the test statistic and corresponding p-value 
print('Test statistic:', stat)
print('P-Value:', p_value)

Test statistic: 0.8501707911491394
P-Value: 0.036891669034957886

In [40]:
test_stat, p_value = stats.wilcoxon(x = wt_before, y = wt_after, alternative = 'greater')

# print the p-value
print('p-value:', p_value)

p-value: 0.03696871792607606

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Consider the cars dataset given below. Check whether the distribution of weight of the manual transmission cars is different than the distribution of weight of the automatic transmission cars. Use a 1% level of significance to check the noramlity of the data. And use the appropriate test with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the dataset given in the CSV file `cars.csv`

In [41]:
# type your code here
df_car = pd.read_csv('cars.csv')

# display the first two observations
df_car.head(2)

            name   mpg  cyl   disp   hp  drat     wt   qsec  vs am  gear  carb
0      Mazda RX4  21.0    6  160.0  110   3.9  2.620  16.46   0  M     4     4
1  Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0  M     4     4

In [42]:
stat, p_val = shapiro(df_car['wt'])
                      
# print the p-value
print('p-value:', p_val)

p-value: 0.09265592694282532

In [43]:
wt_M = df_car[df_car['am'] == 'M']['wt']
wt_A = df_car[df_car['am'] == 'A']['wt']

# compute test statistic and corresponding p-value for two-tailed test
test_stat, p_value = stats.mannwhitneyu(wt_M, wt_A, alternative = 'two-sided')

# print the p-value
print('p-value:', p_value)

p-value: 4.347025911450828e-05